<%- include('../layouts/admin-header.ejs') %>
<div id="content" class="p-4 p-md-5 pt-5">
  <h2 class="mb-4">Dashboard</h2>
  <div class="table-responsive">
    <table class="table ">
      <thead>
        <tr>
          <th>#</th>
          <th>Title</th>
          <th>Content</th>
          <th>Image</th>
        
        </tr>
      </thead>
      <tbody>
        <% if (posts.length >0) { %> <% let i = 1; posts.forEach((post )=> { %>
        <tr>
          <td><%= i++%></td>
          <td><%= post.title %></td>
          <td><%= post.content %></td>
          <td><img src="<%= post.image %>" width="100"></img></td>
        </tr>
        <% }) %>
        <% } else { %>
            <tr>
              <td colspan="8">No Post Found</td>
            </tr>
         <% } %>
      </tbody>
    </table>
  </div>
</div>
<%- include('../layouts/admin-footer.ejs') %>
