<%- include('./layouts/header.ejs') %>

<div class="container mt-5">
  <div class="row">
    <div class="col-lg-8">
      <!-- Post content-->
      <article>
        <!-- Post header-->
        <header class="mb-4">
          <!-- Post title-->
          <h1 class="fw-bolder mb-1"><%= post.title %></h1>
          <!-- Post meta content-->
          <div class="text-muted fst-italic mb-2">
            Posted on <%= new Date(post.createdAt).toUTCString() %> by Admin
          </div>
        </header>
        <!-- Preview image figure-->
        <% if (post.image !== undefined && post.image !== '') { %>

        <figure class="mb-4">
          <img class="img-fluid rounded" src="<%= post.image %>" alt="..." />
        </figure>
        <% } else { %>
        <img
          src="https://dummyimage.com/900x400/ced4da/6c757d.jpg"
          alt="..."
          class="img-fluid rounded mb-4 mb-lg-0"
        />
        <% } %>

        <!-- Post content-->
        <section class="mb-5">
          <p class="fs-5 mb-4"><%= post.content %></p>
        </section>
      </article>
      <section class="mb-5">
        <div class="card bg-light">
          <div class="card-body">
            <!-- Comment form-->
            <h5>Leave a comment</h5>

            <form class="mb-4" id="comment-form">
              <input type="hidden" name="post_id" value="<%= post._id %>" />
              <input
                type="text"
                name="username"
                placeholder="Enter your name"
                class="form-control mb-3"
                required
              />
              <textarea
                class="form-control"
                name="comment"
                rows="3"
                placeholder="Join the discussion and leave a comment!"
                required
              ></textarea>
              <button type="submit" class="btn btn-primary mt-3">Submit</button>
            </form>
            <p class="com-status" style="color: green"></p>

            <div id="comment-section">
              <% if (post.comments.length >=0) { %> <% post.comments =
              post.comments.reverse(); post.comments.forEach(comment=> { %>
              <div class="d-flex mt-3">
                <div class="flex-shrink-0">
                  <img
                    class="rounded-circle"
                    src="https://dummyimage.com/50x50/ced4da/6c757d.jpg"
                    alt="..."
                  />
                </div>
                <div class="ms-3">
                  <div class="fw-bold"><%= comment.username %></div>
                  <%= comment.comment %> <% if (comment.replies) { %> <%
                  comment.replies.forEach(reply=> { %>
                  <div class="d-flex mt-3">
                    <div class="flex-shrink-0">
                      <img
                        class="rounded-circle"
                        src="https://dummyimage.com/50x50/ced4da/6c757d.jpg"
                        alt="..."
                      />
                    </div>
                    <div class="ms-3">
                      <div class="fw-bold"><%= reply.name %></div>
                      <%= reply.reply %>
                    </div>
                  </div>
                  <% }) %> <% } %>

                  <div class="col-md-12">
                    <form class="do-reply">
                      <input
                        type="hidden"
                        name="post_id"
                        value="<%= post._id %>"
                      />
                      <input
                        type="hidden"
                        name="comment_id"
                        value="<%= comment._id %>"
                      />

                      <div class="form-group mt-2">
                        <input
                          type="text"
                          name="name"
                          class="form-control"
                          placeholder="Enter Name"
                          required
                        />
                      </div>
                      <div class="form-group mt-2">
                        <textarea
                          name="reply"
                          class="form-control"
                          placeholder="Enter Reply"
                          required
                        ></textarea>
                      </div>
                      <button type="submit" class="btn btn-info btn-sm mt-2">
                        Reply
                      </button>
                    </form>
                  </div>
                </div>
              </div>
              <% }) %> <% } %>
            </div>
          </div>
        </div>
      </section>
    </div>
    <!-- Side widgets-->
    <div class="col-lg-4">
      <!-- Search widget-->
      <div class="card mb-4">
        <div class="card-header">Search</div>
        <div class="card-body">
          <div class="input-group">
            <input
              class="form-control"
              type="text"
              placeholder="Enter search term..."
              aria-label="Enter search term..."
              aria-describedby="button-search"
            />
            <button class="btn btn-primary" id="button-search" type="button">
              Go!
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  let socket = io();
  $(document).ready(function () {
    $("#comment-form").submit(function (event) {
      event.preventDefault();

      let formData = {};
      $.each($(this).serializeArray(), function (i, field) {
        formData[field.name] = field.value;
      });

      $.ajax({
        url: "/add-comment",
        type: "POST",
        data: formData,
        success: function (data) {
          formData._id = data._id;
          socket.emit("new_comment", formData);

          $(".com-status").text(data.msg);
          setTimeout(function () {
            $(".com-status").text("");
          }, 5000);
        },
      });
    });

    socket.on("new_comment", function (comment) {
      let html = "";
      html += `
        <div class="d-flex mt-3">
          <div class="flex-shrink-0">
            <img
              class="rounded-circle"
              src="https://dummyimage.com/50x50/ced4da/6c757d.jpg"
              alt="..."
            />
          </div>
          <div class="ms-3">
            <div class="fw-bold">${comment.username}</div>
            ${comment.comment}
          </div>
        </div>    
      `;
      $("#comment-section").prepend(html);
    });

    $(".do-reply").submit(function (event) {
      event.preventDefault();

      var formData = $(this).serialize();
      let obj = $(this);

      $.ajax({
        url: "/do-reply",
        type: "POST",
        data: formData,
        success: function (data) {
          $(obj)[0].reset();
          $(obj).parent().parent().append(`<p>${data.msg}</p>`);
        },
      });
    });
  });
</script>

<%- include('./layouts/footer.ejs') %>
